<div *ngIf="isLoading" class="loading-grid">
    <div class="col-3"></div>
    <div class="col-6">
        <p class="text-center" style="font-size: x-large; font-family: 'Courier New', Courier, monospace">Gerando a
            prova, por favor aguarde...</p>
        <p-progressSpinner strokeWidth="4" class="loading-grid"></p-progressSpinner>
        <!-- Spinner do PrimeNG, se aplicável -->
    </div>
    <div class="col-3"></div>
</div>
<div *ngIf="!isLoading" class="grid">
    <div class="col-3"></div>
    <div class="col-6">
        <div *ngIf="!provaGerada">
            <p-messages [(value)]="messages" [enableService]="false" [closable]="false">
            </p-messages>
            <p-button type="button" (click)="voltaAoGenerator()" severity="danger">Voltar ao Gerador</p-button>
        </div>
        <div id="quiz-section" *ngIf="provaGerada">
            <h1 class="text-center" style="font-size: xx-large; font-family: 'Courier New', Courier, monospace">Prova
                Gerada</h1>
            <p-card>
                <div class="col-fixed w-12">
                    <div *ngFor="let questao of provaGerada.questoes">
                        <p-fieldset legend="Questao {{questao.id}}" class="col-fixed w-12">
                            <h3>{{ questao.questao }}</h3>
                            <div *ngIf="questao.tipo == 'verdadeiro_falso'">
                                <label>
                                    <input type="radio" name="questao{{questao.id}}"
                                        (change)="onOptionChange(questao, 'Verdadeiro')" />
                                    Verdadeiro
                                </label>
                                <label>
                                    <input type="radio" name="questao{{questao.id}}"
                                        (change)="onOptionChange(questao, 'Falso')" />
                                    Falso
                                </label>
                            </div>
                            <div *ngFor="let opcao of questao.opcoes">
                                <label>
                                    <input type="radio" name="questao{{questao.id}}" [value]="opcao"
                                        (change)="onOptionChange(questao, opcao)" />
                                    {{ opcao }}
                                </label>
                            </div>
                            <div *ngIf="exibirExplicacao">
                                <div *ngIf="questao.resposta_correta == questao.resposta_usuario">
                                    <p><strong>Voce Acertou!</strong></p>
                                    <p><strong>Resposta escolhida:</strong> {{ questao.resposta_usuario }}</p>
                                    <p-panel header="Explicacao e Gabarito" [toggleable]="true"
                                        [ngClass]="{'panel-correct': true}">
                                        <p><strong>Resposta correta:</strong> {{ questao.resposta_correta }}</p>
                                        <p><strong>Explicação:</strong> {{ questao.explicacao }}</p>
                                    </p-panel>
                                </div>
                                <div *ngIf="questao.resposta_correta != questao.resposta_usuario">
                                    <p><strong>Voce Errou!</strong></p>
                                    <p><strong>Resposta escolhida:</strong> {{ questao.resposta_usuario }}</p>
                                    <p-panel header="Explicacao e Gabarito" [toggleable]="true"
                                        [ngClass]="{'panel-incorrect': true}">
                                        <p><strong>Resposta correta:</strong> {{ questao.resposta_correta }}</p>
                                        <p><strong>Explicação:</strong> {{ questao.explicacao }}</p>
                                    </p-panel>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                    <div *ngIf="exibirExplicacao">
                        <p class="text-center" style="font-size: larger;"><strong>Sua nota:</strong> {{ provaGerada.NOTA
                            }}/{{provaGerada.questoes.length}}</p>
                    </div>
                </div>
                <div class="col-fixed w-12 flex gap-2">
                    <p-button type="button-final" (click)="corrigeProva(provaGerada)">Finalizar
                        Prova</p-button>
                    <p-button type="button" (click)="voltaAoGenerator()">Criar nova
                        prova</p-button>
                    <p-button type="button" (click)="gerarNovamente()">Gerar Novamente</p-button>
                </div>
            </p-card>
        </div>
    </div>
    <div class="col-3"></div>
    <p-scrollTop />
</div>